@import '~antd/dist/antd.css';

.ant-layout-header {
  background: white;
}

.ant-btn:hover,
.ant-btn:focus {
  color: #FF385C;
  border-color: #FF385C;
  background: #fff;
}

.ant-btn:active {
  color: #D70466;
  border-color: #D70466;
  background: #fff;
}

.ant-btn-primary {
  border-radius: 5px;
  border-color: #FF385C;
  background: #FF385C;
}

.ant-modal-content {
  width: 350px;
  height: 400px;
}

.divider-wrapper {
  height: 75px;
}

.ant-form-item {
  margin-top: 16px;
  margin-bottom: 32px;
}

.ant-input-affix-wrapper {
  border-radius: 4px;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #FF385C;
  box-shadow: 0 0 0 1px rgba(169, 1, 54, 0.5);
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #FF385C;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus+.ant-radio-inner {
  border-color: #FF385C;
}

.ant-radio-inner::after {
  background-color: #FF385C;
}

/* .ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:hover,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:hover {
  color: #fd637f;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:active,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:active,
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:focus,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:focus {
  color: #FF385C;
} */

.ant-tabs-tab:hover {
  color: #fd637f;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #FF385C;
  font-weight: 600;
  text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs-ink-bar {
  background: #FF385C;
}

.ant-tabs-content-holder {
  width: calc(100% - 40px);
}

.ant-tabs-content {
  margin-left: 10px;
  margin-right: 10px;
}


.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}
